@-moz-document url("http://www.batoto.net/") {
    
    .input_text { 
        padding-left: 0 !important; 
        position: relative;
         left: -825px; 
         top: -40px; 
        
    }
    
    .input_submit { 
        position: relative; 
        left: -820px; 
        top: -40px;
        
    }

}

<<<<<<< HEAD
/*Chan C is sex C*/
 hh
=======
loser
>>>>>>> c5c7fe067c0f384eb7ef2d687545722b73dd0c4b
