/* kawaii home page 
* written by tsukyu
*/ 		

#header-container { 
		font-family: "Lucida Grande"; 
		font-size: 22px; 
		color: rgba(184,113,113,1);
		margin-bottom: 0; 
		width: 600px;
		height: 30px; 
		background: rgba(164,145,145,.5); 
		border-top-left-radius: 4px;
		border-top-right-radius: 4px; 
		padding-bottom: 0;
		
		}

#header { 
		padding-top: 2px;
		text-align: center; 
		}

body { 
		background: rgba(202,205,213,.6);
		}
		
#container { 
		width: 600px; 
		height: 600px;
		margin: 0 auto;
		border-radius: 4px; 
		box-shadow: 0px 0px 6px 0px rgba(40,40,40,.4); 
		background: #a1a2a3; 	
		}
		
#links { 
		margin: 16px; 
		border: 1px solid rgba(40,40,40,0.05);
		box-shadow: 0px 0px 6px 0px rgba(40,40,40,.3);		
		height: 80px; 
		width: 80px; 
		border-radius: 4px; 
		background: rgba(107,154,171,.8); 
		padding: 16px;
		display: inline-block; 
		vertical-align: middle;
		text-align: center;
		text-shadow: 1px 1px 0px 0px rgba(40,40,40,0.05);
		}
	
#links-long { 
		margin: 16px; 
		border: 1px solid rgba(40,40,40,0.05);
		box-shadow: 0px 0px 6px 0px rgba(40,40,40,.3);		
		height: 80px; 
		width: 80px; 
		border-radius: 4px; 
		background: rgba(107,154,171,.8); 
		padding: 16px;
		display: inline-block; 
		vertical-align: middle;
		text-align: center;
		text-shadow: 1px 1px 0px 0px rgba(40,40,40,0.05);
		}
		
#links:hover, #links-long:hover { 
		transition: ease .3s;
		transition-delay: .1s; 
		background: rgba(59,106,124,1);
		color: #fff;
		 
}

.link-text {  
		display: inline-block;
		line-height: 80px; 
		vertical-align: center; 
		font-family: "Lucida Grande";  
		font-size: 28px; 
		color: #d1d2d3; 
		}

.link-text:hover { 
		transition: ease .3s; 
		color: #fff;
		}
		
